.auth {
  margin: 4rem auto;
  width: 50%;
  & > * {
    margin-bottom: 1rem;
    font-size: 18px;
    border-radius: 4px;
  }
  .link {
    display: flex;
    justify-content: flex-end;
  }
  .button {
    margin-top: 1rem;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .auth {
    width: 90%;
    margin: 1rem auto;
    .link {
      margin-top: 2rem;
      justify-content: center;
    }
    .button {
      margin-top: unset;
    }
  }
}
