.aboutWrapper {
  margin: 1rem auto;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sectionInfo {
  // background-color: #fff;
  width: 77%;
  min-height: fit-content;
  // border-radius: 15px;
  padding: 0 20px;
  margin: 5px 0;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > :nth-child(1) {
    margin-bottom: 0.25rem;
  }
}
.sectionText {
  background-color: #fff;
  border-radius: 15px;
  padding: 10px 20px;
}
